# Dossier contenant les ROMs (jamais commit, voir roms/ a la racine du repo)
ROMS_DIR=../roms

# Base SQLite locale
DB_PATH=./data/library.db

# Identifiants ScreenScraper.fr (compte dev a demander sur screenscraper.fr,
# ssid/sspassword = ton compte utilisateur ScreenScraper)
SS_DEVID=
SS_DEVPASSWORD=
SS_SOFTNAME=serpentarium
SS_SSID=
SS_SSPASSWORD=
